@import url(./fonts.css);

* {
    font-family: 'RobotoRegular', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}

p{
    color: #623E30;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* SECTION NAVIGATION */

.section-navigation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-navigation .container .text-1{
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 24px;
}

.section-navigation .container .text-2{
    text-align: right;
    font-size: 20px;
}

.section-navigation .container .text-2 p{
    margin-bottom: 0px;
}

.section-navigation .container .text-1 p{
    transition: .3s;
}

.section-navigation .container .text-1 p:hover{
    border-bottom: #623E30 solid 4px;
    transition: .5s;
    cursor: pointer;
}

/* SECTION HOME */

.section-home{
    margin-top: 5%;
}

.section-home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-home .container .photo{
    width: 449px;
}

.section-home .container .photo p{
    width: 100%;
    font-family: "GreatVibes", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 5%;
}

.section-home .container .text{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.section-home .container .text h3{
    text-align: center;
    font-family: "GreatVibes", sans-serif;
    font-size: 48px;
}

.section-home .container .text p{
    font-size: 24px;
    text-align: center;
}

.section-home .container .text span p{
    color: #E2B551;
    text-align: center;
    font-size: 24px ;
}

.section-home .container .text button{
    align-self: center;
    margin-top: 10%;
    width: 248px;
    height: 50px;
    background-color: #623E30;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 30px;
    transition: .3s;
}

.section-home .container .text button:hover{
    background-color: #E2B551;
    transition: .5s;
}

/* SECTION ABOUT */

.section-about{
    margin-top: 5%;
}

.section-about .container .education{
    display: flex;
    flex-direction: column;
}

.section-about .container .education .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
}

.section-about .container .education .name p{
    font-size: 32px;
    margin-bottom: 0px;
}

.section-about .container .education .road .punkt{
    width: 20px;
    height: 20px;
    background-color: #623E30;
    border-radius: 1000px;
}

.section-about .container .education .stroke{
    display: flex;
    justify-content: space-between;
}

.section-about .container .education .road{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-about .container .education .road .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.section-about .container .education .road .text p{
    margin-bottom: 0px;
    font-size: 20px;
    width: 90%;
}

.section-about .container .education .road .arrow{
    width: 25%;
    color: #623E30;
}

.section-about .container .education .road .last-p{
    font-size: 20px;
    text-align: center;
    width: 30%;
    margin-top: 3%;
}

.section-about .container .education .road .arrow-last{
    width: 15%;
    margin-left: 10%;
}

.section-about .container .expertision{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.section-about .container .expertision .name{
    width: 43%;
}

.section-about .container .expertision .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-about .container .expertision .name p{
    font-size: 32px;
    margin-bottom: 0px;
}

.section-about .container .expertision .blocks .block{
    width: 350px;
    height: 200px;
    border: #623E30 solid 4px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 4%;
}

.section-about .container .expertision .blocks .block .text-p{
    font-size: 15px;
    margin-bottom: 0px;
}

.section-about .container .expertision .blocks .block span p{
    font-size: 32px;
    font-family: "RobotoBold", sans-serif;
    margin-bottom: 0px;
}

.section-about .container .expertision .blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-about .container .clients{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.section-about .container .clients .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.section-about .container .clients .name p{
    font-size: 32px;
    margin-bottom: 0px;
}

.section-about .container .clients span p{
    font-size: 26px;
    margin-top: 1.5%;
}

.section-about .container .clients .imgs{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.section-about .container .publication{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.section-about .container .publication .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
}

.section-about .container .publication .name p{
    font-size: 32px;
}

.section-about .container .publication span p{
    font-size: 26px;
    margin-top: 1.5%;
    margin-bottom: 2%;
}

.section-about .container .publication .book img{
    width: 288px;
}

.section-about .container .publication .book{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-about .container .publication .book p{
    font-size: 26px;
    text-align: center;
    width: 55%;
    margin-top: 1%;
}

/* SECTION YSLYG */

.section-yslyg {
    margin-top: 5%;
}

.section-yslyg .container h2{
    font-size: 48px;
    font-family: "RobotoBold", sans-serif;
    color: #E2B551;
    text-align: center;
}

.section-yslyg .container .cards .card{
    border: none;
    width: 45%;
    margin-top: 4%;
}

.section-yslyg .container .cards .card .top{
    display: flex;
    justify-content: space-between;
    border-bottom: #623E30 solid 4px;
}

.section-yslyg .container .cards .card .top p{
    font-size: 22px;
}

.section-yslyg .container .cards .card .bottom-p{
    margin-top: 4%;
}

.section-yslyg .container .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* SECTION OTZIV */

.section-otziv{
    margin-top: 5%;
}

.section-otziv .container h2{
    font-size: 48px;
    color: #E2B551;
    text-align: center;
    font-family: "RobotoBold", sans-serif;
}

.section-otziv .container .slide{
    margin-top: 3%;
}

.section-otziv .container .slide .telo{
    display: flex;
    flex-direction: column;
}

.section-otziv .container .slide .carousel-item{
    height: 600px;
}

.section-otziv .container .slide .telo p{
    text-align: center;
    width: 80%;
    align-self: center;
}

.section-otziv .container .slide .telo span p{
    font-size: 24px;
    font-family: "RobotoBold", sans-serif;
    text-align: left;
}

.section-otziv .container .slide .carousel-indicators button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: #623E30 solid 4px;
    margin-left: 3%;
}

.section-otziv .container .slide .carousel-indicators .active{
    background-color: #623E30;
}

/* SECTION FORM */

.section-form{
    margin-top: 5%;
}

.section-form .container h2{
    font-size: 48px;
    color: #E2B551;
    text-align: center;
    font-family: "RobotoBold", sans-serif;
}

.section-form .container .p-zag{
    font-size: 24px;
    text-align: center;
    font-family: "RobotoBold", sans-serif;
}

.section-form .container input{
    width: 550px;
    height: 50px;
    border: #623E30 3px solid;
    border-radius: 20px;
    padding-left: 2%;
}

.section-form .container .vvod p{
    font-size: 20px;
    margin-bottom: 10px;
}

.section-form .container .politica{
    font-size: 14px;
    text-align: center;
    width: 80%;
    margin-top: 2%;
}

.section-form .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-form .container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-form .container .vvod{
    margin-top: 3%;
}

.section-form .container form button{
    width: 375px;
    height: 60px;
    color: white;
    font-size: 24px;
    background-color: #623E30;
    border-radius: 50px;
    transition: .3s;
    margin-top: 3%;
}

.section-form .container form button:hover{
    background-color: #E2B551;
    transition: .5s;
}

/* SECTION BOOKS */

.section-books{
    margin-top: 5%;
}

.section-books .container h2{
    font-size: 48px;
    color: #E2B551;
    text-align: center;
    font-family: "RobotoBold", sans-serif;
}

.section-books .container .cards .card{
    width: 350px;
    height: 262px;
    border: #623E30 solid 4px;
    border-radius: 4%;
    padding: 2%;
    display: flex;
    flex-direction: column;

}

.section-books .container .cards .card h4{
    font-size: 26px;
    font-family: "RobotoBold", sans-serif;
    color: #623E30;
}

.section-books .container .cards .card p{
    font-size: 18px;
    color: #623E30;
    font-weight: 600;
}

.section-books .container .cards .card a{
    align-self: center;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 3%;
}

.section-books .container .cards .card a p{
    margin-bottom: 0px;
}

.section-books .container .cards{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-books .container .cards .card:nth-child(2) a{
    margin-top: 20%;
}